# rename this file from:
# {wrangler.local.toml.example} to -> {wrangler.local.toml}
# to run, use: wrangler dev -c wrangler.local.toml
# or the npm script: yarn run 

name = "<worker_name>"
main = "./src/server.ts"
compatibility_date="2023-05-18"

# default vars
vars = { ENVIRONMENT = "dev" }
d1_databases = [
  { binding = "DB", database_name = "<db_name>", database_id = "<db_id>" }
]